.dashboard {
  display: block;
  padding: 0 5vw;
}

.products {
  display: grid;
  margin: 5vh auto;
  grid-template-columns: repeat(4, 25%);
  color: #767677;
}

.product {
  margin: 0 auto 10px auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 0;
  transition: all 0.3s ease;
}

.product img {
  border-radius: 8px;
}

.product:hover {
  transform: scale(1.1) rotate(5deg);
  z-index: 5;
}

.product-info h3 {
  color: #201c1c;
  font-weight: 500;
}

.product-info p {
  font-size: 12px;
}

.product-info a {
  font-size: 12px;
  text-decoration: none;
}
