* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fbfaf9;
}

.profile {
  height: 64.5vh;
  color: #201c1c;
}

.profile-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin: 0 auto;
}

.profile-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro-container {
  text-align: center;
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  font-family: "Montserrat", sans-serif;
  color: #201c1c;
}

.intro-text {
  font-size: 24px;
  margin-top: 20px;
}

button {
  cursor: pointer;
}

.add-container {
  height: 64.5vh;
  text-align: center;
}

.add-container h1 {
  margin-bottom: 2vh;
}

.add-container form input {
  border-color: #4d4d4d7e;
}

.button-add-product {
  width: 100%;
  margin-top: 2vh;
  padding: 1vh 1.5vw;
  border-radius: 100px;
  border: 1px solid #201c1c;
  background: transparent;
  color: #201c1c;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  transition: all 0.3s ease;
}

.button-add-product:hover {
  background-color: #201c1c;
  color: #fff;
}

.error-message {
  background: rgba(250, 75, 75, 0.877);
  text-align: center;
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  animation: showerror 1s ease;
}

@keyframes showerror {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
